<nav class="navbar navbar-expand-md navbar-light my-4">
  <div class="container-xxl">
    <a href="https://github.com/gunkut" class="navbar-brand">
      <span class="fw-bold text-secondary"> Gunkut </span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main-nav"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="toggle-navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navItems navbar-collapse justify-content-end align-center"
      id="main-nav"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link <%= path === '/about' && 'active' %>" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path === '/users-form' && 'active' %>"
            href="/users-form"
            >Form</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path === '/users' && 'active' %>" href="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path === '/prices' && 'active' %>" href="/prices">Prices</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
