<head>
  <%- include("includes/head.ejs") %>
</head>
<body>
  <%- include("includes/navbar.ejs") %>
  <main>
    <h1>
      <div class="display-7 text-center align-items-center my-5">
        Page not found!
      </div>
    </h1>
  </main>
</body>
