<%- include("includes/head.ejs") %>
<body>
  <%- include("includes/navbar.ejs") %>

  <div class="container-fluid mt-5 mb-3">
    <div class="text-center">
      <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      <h3 class="my-3">
        <i class="fa-solid fa-star mx-3"></i>Loneliness can be cured<i
          class="fa-solid fa-star mx-3"
        ></i>
      </h3>
      <p class="lead text-muted">Just make friends</p>
      <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
    </div>
    <div class="row my-5 mx-3 g-5 justify-content-center align-items-center">
      <div class="col-12 col-lg-6">
        <img
          src="https://cdn.zeebiz.com/sites/default/files/styles/zeebiz_850x478/public/2021/07/28/155189-untitled-design-26.jpg?itok=T4afXygR"
          alt="img"
          class="img-fluid text-center"
        />
      </div>
      <div class="col-lg-6 text-center">
        <h2>Friendship App</h2>
        <p class="text-muted">Your friendly app</p>
        <div>
          <p>No worries! By using this app, you will take a great tour to our deep friends pool</p>
          <p>Hold your breath cause we're about to begin</p>
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>
    </div>
  </div>

  <%- include("includes/footer.ejs") %>
</body>
