body {
  background-image: -webkit-linear-gradient(65deg, #838de3 50%, #e4e9fd 50%);
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.user-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.user__name,
.user__username {
  font-size: 1.2rem;
  text-align: center;
}

.user__username {
  font-size: xx-large;
}

.user__name,
.user__email {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.user__description {
  text-align: center;
  font-style: italic;
}
