.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background-image: -webkit-linear-gradient(65deg, #dfe0ee 30%, #838de3 80%);
  border: solid 0.5px;
  border-radius: 15%;
}

.card-header,
.card-content {
  padding: 1rem;
}

.card-header h1,
.card-content h1,
.card-content h2,
.card-content p {
  margin: 0;
}

.card-image {
  width: 100%;
}

.card-image img {
  width: 100%;
}

.user__item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.user__name,
.user__username {
  font-size: 1.2rem;
}

.user__username {
  font-size: xx-large;
}

.user__name,
.user__email {
  color: #4d4d4d;
}

.user__description {
  font-style: italic;
}
